<%# The API has no navigational Devise routes (devise_for skip: :all), so we
    link to the SPA reset page instead of edit_moderator_password_url. The SPA
    submits the token via PUT /api/password. %>
<%
  opts = ActionMailer::Base.default_url_options || {}
  base = "#{opts[:protocol] || 'http'}://#{opts[:host]}#{opts[:port] ? ":#{opts[:port]}" : ''}"
%>
<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your FeedLens password. You can do this through the link below.</p>

<p><%= link_to "Change my password", "#{base}/reset-password?token=#{@token}" %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
